In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
?pd.date_range()

In [14]:
？np.random.randn()

SyntaxError: invalid character in identifier (<ipython-input-14-a0f3b2ba36f0>, line 1)

In [10]:
np.random.randn(6,4)

array([[ 0.48418964, -1.33360249,  0.78064646, -0.84336132],
       [ 0.58300669,  0.35554678, -0.59911867, -0.14809073],
       [ 0.27252848,  0.39647109, -1.22276218,  0.51931753],
       [ 0.12893036, -1.16119933, -0.06811322, -1.22117255],
       [ 1.73022248, -0.56886396,  0.53239396,  2.29907938],
       [ 0.81638921, -0.71546573, -0.77583938,  1.18167968]])

In [15]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.820172 -1.079327 -0.746048  0.128264
2013-01-02  0.769919 -0.416604 -0.708283 -1.693401
2013-01-03  0.893954 -0.005648 -0.326244 -1.299952
2013-01-04 -0.532025  0.947193 -0.697866 -0.469677
2013-01-05  1.418827 -0.167978  0.846527  0.021155
2013-01-06  0.343169  0.833305 -0.743982  0.596846

In [11]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })

In [12]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [16]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [17]:
df.head()

                   A         B         C         D
2013-01-01  0.820172 -1.079327 -0.746048  0.128264
2013-01-02  0.769919 -0.416604 -0.708283 -1.693401
2013-01-03  0.893954 -0.005648 -0.326244 -1.299952
2013-01-04 -0.532025  0.947193 -0.697866 -0.469677
2013-01-05  1.418827 -0.167978  0.846527  0.021155

In [18]:
df.tail()

                   A         B         C         D
2013-01-02  0.769919 -0.416604 -0.708283 -1.693401
2013-01-03  0.893954 -0.005648 -0.326244 -1.299952
2013-01-04 -0.532025  0.947193 -0.697866 -0.469677
2013-01-05  1.418827 -0.167978  0.846527  0.021155
2013-01-06  0.343169  0.833305 -0.743982  0.596846

In [19]:
df.head(3)

                   A         B         C         D
2013-01-01  0.820172 -1.079327 -0.746048  0.128264
2013-01-02  0.769919 -0.416604 -0.708283 -1.693401
2013-01-03  0.893954 -0.005648 -0.326244 -1.299952

In [20]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [22]:
df.values

array([[ 0.82017236, -1.07932692, -0.74604753,  0.12826444],
       [ 0.76991918, -0.41660426, -0.70828281, -1.69340058],
       [ 0.89395375, -0.00564839, -0.32624421, -1.29995211],
       [-0.53202535,  0.94719256, -0.69786602, -0.46967711],
       [ 1.41882723, -0.16797808,  0.84652717,  0.02115491],
       [ 0.34316866,  0.83330468, -0.74398153,  0.5968462 ]])

In [23]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.619003  0.018490 -0.395982 -0.452794
std    0.660229  0.768931  0.629445  0.885558
min   -0.532025 -1.079327 -0.746048 -1.693401
25%    0.449856 -0.354448 -0.735057 -1.092383
50%    0.795046 -0.086813 -0.703074 -0.224261
75%    0.875508  0.623566 -0.419150  0.101487
max    1.418827  0.947193  0.846527  0.596846

In [24]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.820172    0.769919    0.893954   -0.532025    1.418827    0.343169
B   -1.079327   -0.416604   -0.005648    0.947193   -0.167978    0.833305
C   -0.746048   -0.708283   -0.326244   -0.697866    0.846527   -0.743982
D    0.128264   -1.693401   -1.299952   -0.469677    0.021155    0.596846

In [25]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.128264 -0.746048 -1.079327  0.820172
2013-01-02 -1.693401 -0.708283 -0.416604  0.769919
2013-01-03 -1.299952 -0.326244 -0.005648  0.893954
2013-01-04 -0.469677 -0.697866  0.947193 -0.532025
2013-01-05  0.021155  0.846527 -0.167978  1.418827
2013-01-06  0.596846 -0.743982  0.833305  0.343169

In [28]:
?df.sort_index(axis=1, ascending=False)

In [27]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2013-01-06  0.343169  0.833305 -0.743982  0.596846
2013-01-05  1.418827 -0.167978  0.846527  0.021155
2013-01-04 -0.532025  0.947193 -0.697866 -0.469677
2013-01-03  0.893954 -0.005648 -0.326244 -1.299952
2013-01-02  0.769919 -0.416604 -0.708283 -1.693401
2013-01-01  0.820172 -1.079327 -0.746048  0.128264

In [29]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-01  0.820172 -1.079327 -0.746048  0.128264
2013-01-02  0.769919 -0.416604 -0.708283 -1.693401
2013-01-05  1.418827 -0.167978  0.846527  0.021155
2013-01-03  0.893954 -0.005648 -0.326244 -1.299952
2013-01-06  0.343169  0.833305 -0.743982  0.596846
2013-01-04 -0.532025  0.947193 -0.697866 -0.469677

In [31]:
?df.sort_values(by='B')

In [32]:
df['A']

2013-01-01    0.820172
2013-01-02    0.769919
2013-01-03    0.893954
2013-01-04   -0.532025
2013-01-05    1.418827
2013-01-06    0.343169
Freq: D, Name: A, dtype: float64

In [33]:
df[0:3]

                   A         B         C         D
2013-01-01  0.820172 -1.079327 -0.746048  0.128264
2013-01-02  0.769919 -0.416604 -0.708283 -1.693401
2013-01-03  0.893954 -0.005648 -0.326244 -1.299952

In [34]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02  0.769919 -0.416604 -0.708283 -1.693401
2013-01-03  0.893954 -0.005648 -0.326244 -1.299952
2013-01-04 -0.532025  0.947193 -0.697866 -0.469677

In [35]:
df.loc[dates[0]]

A    0.820172
B   -1.079327
C   -0.746048
D    0.128264
Name: 2013-01-01 00:00:00, dtype: float64

In [36]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  0.820172 -1.079327
2013-01-02  0.769919 -0.416604
2013-01-03  0.893954 -0.005648
2013-01-04 -0.532025  0.947193
2013-01-05  1.418827 -0.167978
2013-01-06  0.343169  0.833305

In [37]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02  0.769919 -0.416604
2013-01-03  0.893954 -0.005648
2013-01-04 -0.532025  0.947193

In [38]:
df.loc['20130102',['A','B']]

A    0.769919
B   -0.416604
Name: 2013-01-02 00:00:00, dtype: float64

In [39]:
df.loc[dates[0],'A']

0.82017236432754559

In [40]:
df.iloc[3]

A   -0.532025
B    0.947193
C   -0.697866
D   -0.469677
Name: 2013-01-04 00:00:00, dtype: float64

In [41]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -0.532025  0.947193
2013-01-05  1.418827 -0.167978

In [42]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02  0.769919 -0.708283
2013-01-03  0.893954 -0.326244
2013-01-05  1.418827  0.846527

In [43]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02  0.769919 -0.416604 -0.708283 -1.693401
2013-01-03  0.893954 -0.005648 -0.326244 -1.299952

In [44]:
df.iloc[:,1:3]

                   B         C
2013-01-01 -1.079327 -0.746048
2013-01-02 -0.416604 -0.708283
2013-01-03 -0.005648 -0.326244
2013-01-04  0.947193 -0.697866
2013-01-05 -0.167978  0.846527
2013-01-06  0.833305 -0.743982

In [45]:
df.iloc[1,1]

-0.41660425989175959

In [46]:
df.iat[1,1]

-0.41660425989175959

In [47]:
df[df.A > 0]

                   A         B         C         D
2013-01-01  0.820172 -1.079327 -0.746048  0.128264
2013-01-02  0.769919 -0.416604 -0.708283 -1.693401
2013-01-03  0.893954 -0.005648 -0.326244 -1.299952
2013-01-05  1.418827 -0.167978  0.846527  0.021155
2013-01-06  0.343169  0.833305 -0.743982  0.596846

In [48]:
df[df > 0]

                   A         B         C         D
2013-01-01  0.820172       NaN       NaN  0.128264
2013-01-02  0.769919       NaN       NaN       NaN
2013-01-03  0.893954       NaN       NaN       NaN
2013-01-04       NaN  0.947193       NaN       NaN
2013-01-05  1.418827       NaN  0.846527  0.021155
2013-01-06  0.343169  0.833305       NaN  0.596846

In [49]:
df2 = df.copy()

In [50]:
df2['E'] = ['one', 'one','two','three','four','three']

In [51]:
df2

                   A         B         C         D      E
2013-01-01  0.820172 -1.079327 -0.746048  0.128264    one
2013-01-02  0.769919 -0.416604 -0.708283 -1.693401    one
2013-01-03  0.893954 -0.005648 -0.326244 -1.299952    two
2013-01-04 -0.532025  0.947193 -0.697866 -0.469677  three
2013-01-05  1.418827 -0.167978  0.846527  0.021155   four
2013-01-06  0.343169  0.833305 -0.743982  0.596846  three

In [52]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03  0.893954 -0.005648 -0.326244 -1.299952   two
2013-01-05  1.418827 -0.167978  0.846527  0.021155  four

In [56]:
?df2.isin()

In [58]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))

In [59]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [61]:
df['F'] = s1
df

                   A         B         C         D    F
2013-01-01  0.820172 -1.079327 -0.746048  0.128264  NaN
2013-01-02  0.769919 -0.416604 -0.708283 -1.693401  1.0
2013-01-03  0.893954 -0.005648 -0.326244 -1.299952  2.0
2013-01-04 -0.532025  0.947193 -0.697866 -0.469677  3.0
2013-01-05  1.418827 -0.167978  0.846527  0.021155  4.0
2013-01-06  0.343169  0.833305 -0.743982  0.596846  5.0

In [62]:
df.at[dates[0],'A'] = 0

In [63]:
df

                   A         B         C         D    F
2013-01-01  0.000000 -1.079327 -0.746048  0.128264  NaN
2013-01-02  0.769919 -0.416604 -0.708283 -1.693401  1.0
2013-01-03  0.893954 -0.005648 -0.326244 -1.299952  2.0
2013-01-04 -0.532025  0.947193 -0.697866 -0.469677  3.0
2013-01-05  1.418827 -0.167978  0.846527  0.021155  4.0
2013-01-06  0.343169  0.833305 -0.743982  0.596846  5.0

In [70]:
df.loc[:,'D'] = np.array([5] * len(df))
df

                   A         B         C  D    F
2013-01-01  0.000000 -1.079327 -0.746048  5  NaN
2013-01-02  0.769919 -0.416604 -0.708283  5  1.0
2013-01-03  0.893954 -0.005648 -0.326244  5  2.0
2013-01-04 -0.532025  0.947193 -0.697866  5  3.0
2013-01-05  1.418827 -0.167978  0.846527  5  4.0
2013-01-06  0.343169  0.833305 -0.743982  5  5.0

In [72]:
df.iat[0,1] = 0
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.746048  5  NaN
2013-01-02  0.769919 -0.416604 -0.708283  5  1.0
2013-01-03  0.893954 -0.005648 -0.326244  5  2.0
2013-01-04 -0.532025  0.947193 -0.697866  5  3.0
2013-01-05  1.418827 -0.167978  0.846527  5  4.0
2013-01-06  0.343169  0.833305 -0.743982  5  5.0

In [73]:
df2 = df.copy()

In [74]:
df2[df2 > 0] = -df2

In [76]:
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.746048 -5  NaN
2013-01-02 -0.769919 -0.416604 -0.708283 -5 -1.0
2013-01-03 -0.893954 -0.005648 -0.326244 -5 -2.0
2013-01-04 -0.532025 -0.947193 -0.697866 -5 -3.0
2013-01-05 -1.418827 -0.167978 -0.846527 -5 -4.0
2013-01-06 -0.343169 -0.833305 -0.743982 -5 -5.0

In [80]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.095724  0.017322 -0.781270 -0.317926
2013-01-02  1.745842 -0.762903 -1.201204  0.835294
2013-01-03 -0.442004 -0.957762 -0.738593  0.047658
2013-01-04 -0.989697 -0.317716 -0.134588  1.157574
2013-01-05  2.436063  0.958853  0.547654 -1.232073
2013-01-06  0.238935 -0.872099  0.007070 -0.272919

In [81]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [82]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [83]:
df1

                   A         B         C         D    E
2013-01-01 -0.095724  0.017322 -0.781270 -0.317926  1.0
2013-01-02  1.745842 -0.762903 -1.201204  0.835294  1.0
2013-01-03 -0.442004 -0.957762 -0.738593  0.047658  NaN
2013-01-04 -0.989697 -0.317716 -0.134588  1.157574  NaN

In [84]:
df1.dropna(how='any')

                   A         B         C         D    E
2013-01-01 -0.095724  0.017322 -0.781270 -0.317926  1.0
2013-01-02  1.745842 -0.762903 -1.201204  0.835294  1.0

In [85]:
df1.fillna(value=5)

                   A         B         C         D    E
2013-01-01 -0.095724  0.017322 -0.781270 -0.317926  1.0
2013-01-02  1.745842 -0.762903 -1.201204  0.835294  1.0
2013-01-03 -0.442004 -0.957762 -0.738593  0.047658  5.0
2013-01-04 -0.989697 -0.317716 -0.134588  1.157574  5.0

In [86]:
pd.isnull(df1)

                A      B      C      D      E
2013-01-01  False  False  False  False  False
2013-01-02  False  False  False  False  False
2013-01-03  False  False  False  False   True
2013-01-04  False  False  False  False   True

In [87]:
df.mean()

A    0.482236
B   -0.322384
C   -0.383488
D    0.036268
dtype: float64

In [88]:
df.mean(1)

2013-01-01   -0.294399
2013-01-02    0.154257
2013-01-03   -0.522675
2013-01-04   -0.071107
2013-01-05    0.677624
2013-01-06   -0.224753
Freq: D, dtype: float64

In [91]:
?s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [94]:
df.apply(np.cumsum)

                   A         B         C         D
2013-01-01 -0.095724  0.017322 -0.781270 -0.317926
2013-01-02  1.650118 -0.745581 -1.982474  0.517368
2013-01-03  1.208114 -1.703343 -2.721068  0.565026
2013-01-04  0.218417 -2.021059 -2.855656  1.722600
2013-01-05  2.654480 -1.062205 -2.308001  0.490527
2013-01-06  2.893415 -1.934304 -2.300931  0.217608

In [95]:
df.apply(lambda x: x.max() - x.min())

A    3.425760
B    1.916615
C    1.748859
D    2.389646
dtype: float64

In [97]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    2
1    1
2    2
3    6
4    4
5    5
6    2
7    6
8    4
9    0
dtype: int32

In [98]:
s.value_counts()

2    3
6    2
4    2
5    1
1    1
0    1
dtype: int64

In [99]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [100]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [102]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -1.322822 -1.223121 -0.121258 -0.154813
1 -0.636001 -0.298751 -1.433261  0.028176
2  0.875110  1.500112 -1.148541 -0.784040
3  0.591864 -0.239055  1.311668 -1.001110
4  0.512281  0.127048 -2.302962 -0.423310
5 -0.115558  1.636206  1.499212  0.834362
6 -0.286190  0.632674  1.234667  1.431859
7 -2.323805 -0.582523 -0.087494 -0.353433
8 -2.487589  0.075777 -0.215021  0.189377
9 -1.281755 -0.739460 -0.567815  0.085734

In [103]:
pieces = [df[:3], df[3:7], df[7:]]

In [104]:
pieces

[          0         1         2         3
 0 -1.322822 -1.223121 -0.121258 -0.154813
 1 -0.636001 -0.298751 -1.433261  0.028176
 2  0.875110  1.500112 -1.148541 -0.784040,
           0         1         2         3
 3  0.591864 -0.239055  1.311668 -1.001110
 4  0.512281  0.127048 -2.302962 -0.423310
 5 -0.115558  1.636206  1.499212  0.834362
 6 -0.286190  0.632674  1.234667  1.431859,
           0         1         2         3
 7 -2.323805 -0.582523 -0.087494 -0.353433
 8 -2.487589  0.075777 -0.215021  0.189377
 9 -1.281755 -0.739460 -0.567815  0.085734]

In [105]:
pd.concat(pieces)

          0         1         2         3
0 -1.322822 -1.223121 -0.121258 -0.154813
1 -0.636001 -0.298751 -1.433261  0.028176
2  0.875110  1.500112 -1.148541 -0.784040
3  0.591864 -0.239055  1.311668 -1.001110
4  0.512281  0.127048 -2.302962 -0.423310
5 -0.115558  1.636206  1.499212  0.834362
6 -0.286190  0.632674  1.234667  1.431859
7 -2.323805 -0.582523 -0.087494 -0.353433
8 -2.487589  0.075777 -0.215021  0.189377
9 -1.281755 -0.739460 -0.567815  0.085734

In [107]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
left

   key  lval
0  foo     1
1  foo     2

In [108]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
right

   key  rval
0  foo     4
1  foo     5

In [109]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [111]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
left

   key  lval
0  foo     1
1  bar     2

In [113]:
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
right

   key  rval
0  foo     4
1  bar     5

In [114]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

In [116]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
df

          A         B         C         D
0 -2.092238 -0.296633  0.915438 -0.504680
1  1.625311 -1.183533  0.737127 -0.515935
2  1.804868  0.858385 -0.967256 -0.785665
3  0.105877  0.120799  1.127974  0.440856
4 -2.432051 -0.327854  0.266129 -1.550048
5  0.421679  0.195863  0.413689 -0.927524
6  0.921581 -0.774463 -1.275851  0.010231
7 -1.210772 -0.093494 -1.046942  2.029859

In [117]:
s = df.iloc[3]

In [118]:
df.append(s, ignore_index=True)

          A         B         C         D
0 -2.092238 -0.296633  0.915438 -0.504680
1  1.625311 -1.183533  0.737127 -0.515935
2  1.804868  0.858385 -0.967256 -0.785665
3  0.105877  0.120799  1.127974  0.440856
4 -2.432051 -0.327854  0.266129 -1.550048
5  0.421679  0.195863  0.413689 -0.927524
6  0.921581 -0.774463 -1.275851  0.010231
7 -1.210772 -0.093494 -1.046942  2.029859
8  0.105877  0.120799  1.127974  0.440856

In [120]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df

     A      B         C         D
0  foo    one  0.463490 -1.082640
1  bar    one  0.084714 -0.817290
2  foo    two -1.081386 -0.555776
3  bar  three -0.598551 -0.005250
4  foo    two -0.346289 -0.652173
5  bar    two  0.318074 -1.832524
6  foo    one  0.425565  0.933216
7  foo  three  0.691278 -0.267893

In [121]:
df.groupby('A').sum()

            C         D
A
bar -0.195763 -2.655063
foo  0.152657 -1.625266

In [122]:
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one    0.084714 -0.817290
    three -0.598551 -0.005250
    two    0.318074 -1.832524
foo one    0.889055 -0.149424
    three  0.691278 -0.267893
    two   -1.427676 -1.207949

In [123]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                    'one', 'two', 'one', 'two']]))

In [128]:
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [130]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [131]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df

                     A         B
first second
bar   one    -0.017782 -1.299292
      two    -1.705841  0.190353
baz   one    -0.473305  1.173271
      two     0.369912 -1.558152
foo   one     0.855349 -1.569547
      two    -0.613495  0.364407
qux   one     0.614836 -1.329951
      two     0.961462  0.836605

In [126]:
df2 = df[:4]

In [127]:
df2

                     A         B
first second
bar   one    -1.666612 -0.165660
      two    -0.134245  0.536941
baz   one     0.576862  2.520872
      two    -0.000590  0.519575

In [129]:
?pd.MultiIndex.from_tuples(pd.MultiIndex.from_tuples()

In [134]:
stacked = df2.stack()
stacked

first  second
bar    one     A   -1.666612
               B   -0.165660
       two     A   -0.134245
               B    0.536941
baz    one     A    0.576862
               B    2.520872
       two     A   -0.000590
               B    0.519575
dtype: float64

In [135]:
stacked.unstack()

                     A         B
first second
bar   one    -1.666612 -0.165660
      two    -0.134245  0.536941
baz   one     0.576862  2.520872
      two    -0.000590  0.519575

In [136]:
stacked.unstack(1)

second        one       two
first
bar   A -1.666612 -0.134245
      B -0.165660  0.536941
baz   A  0.576862 -0.000590
      B  2.520872  0.519575

In [137]:
stacked.unstack(0)

first          bar       baz
second
one    A -1.666612  0.576862
       B -0.165660  2.520872
two    A -0.134245 -0.000590
       B  0.536941  0.519575

In [138]:
?stacked.unstack(0)

In [140]:
import datetime

In [142]:
df = pd.DataFrame({'A': ['one', 'one', 'two', 'three'] * 6,
                   'B': ['A', 'B', 'C'] * 8,
                   'C': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 4,
                   'D': np.random.randn(24),
                   'E': np.random.randn(24),
                   'F': [datetime.datetime(2013, i, 1) for i in range(1, 13)] +
                        [datetime.datetime(2013, i, 15) for i in range(1, 13)]})
df

        A  B    C         D         E          F
0     one  A  foo -0.177476  0.897498 2013-01-01
1     one  B  foo -1.230681 -0.328834 2013-02-01
2     two  C  foo  1.886601  0.243199 2013-03-01
3   three  A  bar -0.139072 -0.083266 2013-04-01
4     one  B  bar  0.082838  1.188095 2013-05-01
5     one  C  bar  0.476491 -0.013753 2013-06-01
6     two  A  foo -0.895367 -0.533627 2013-07-01
7   three  B  foo -1.807797  0.194638 2013-08-01
8     one  C  foo -1.230429  0.069546 2013-09-01
9     one  A  bar -1.080332 -0.222992 2013-10-01
10    two  B  bar -0.099893 -1.111432 2013-11-01
11  three  C  bar  1.104263 -1.613838 2013-12-01
12    one  A  foo  1.415549  0.842345 2013-01-15
13    one  B  foo  0.290204 -1.238715 2013-02-15
14    two  C  foo -2.297036  0.808504 2013-03-15
15  three  A  bar -1.735241  0.129068 2013-04-15
16    one  B  bar  2.722110  0.826593 2013-05-15
17    one  C  bar -0.886366  0.517629 2013-06-15
18    two  A  foo -0.382218  0.744253 2013-07-15
19  three  B  foo -0.378462 -0.295194 2013-08-15
20    one  C  foo -1.524290 -1.217912 2013-09-15
21    one  A  bar  1.296994 -0.718059 2013-10-15
22    two  B  bar -0.757265  1.238186 2013-11-15
23  three  C  bar  1.700312  1.514086 2013-12-15

In [143]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C             bar       foo
A     B
one   A  0.108331  0.619037
      B  1.402474 -0.470239
      C -0.204937 -1.377359
three A -0.937156       NaN
      B       NaN -1.093130
      C  1.402287       NaN
two   A       NaN -0.638792
      B -0.428579       NaN
      C       NaN -0.205218

In [144]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')

In [147]:
?rng = pd.date_range('1/1/2012', periods=100, freq='S')

In [150]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts

2012-01-01 00:00:00    259
2012-01-01 00:00:01    182
2012-01-01 00:00:02    249
2012-01-01 00:00:03    181
2012-01-01 00:00:04    137
2012-01-01 00:00:05    484
2012-01-01 00:00:06    471
2012-01-01 00:00:07    450
2012-01-01 00:00:08    167
2012-01-01 00:00:09    334
2012-01-01 00:00:10    447
2012-01-01 00:00:11     32
2012-01-01 00:00:12     82
2012-01-01 00:00:13    206
2012-01-01 00:00:14    405
2012-01-01 00:00:15    177
2012-01-01 00:00:16    238
2012-01-01 00:00:17    391
2012-01-01 00:00:18     17
2012-01-01 00:00:19    169
2012-01-01 00:00:20    149
2012-01-01 00:00:21     25
2012-01-01 00:00:22    129
2012-01-01 00:00:23     90
2012-01-01 00:00:24    462
2012-01-01 00:00:25    216
2012-01-01 00:00:26      8
2012-01-01 00:00:27     78
2012-01-01 00:00:28    413
2012-01-01 00:00:29    394
                      ...
2012-01-01 00:01:10    324
2012-01-01 00:01:11    463
2012-01-01 00:01:12    176
2012-01-01 00:01:13    402
2012-01-01 00:01:14     73
2012-01-01 00:01:15     25
2012-01-01 00:01:16    262
2012-01-01 00:01:17     49
2012-01-01 00:01:18    181
2012-01-01 00:01:19    178
2012-01-01 00:01:20    288
2012-01-01 00:01:21     19
2012-01-01 00:01:22     37
2012-01-01 00:01:23     85
2012-01-01 00:01:24    188
2012-01-01 00:01:25    161
2012-01-01 00:01:26    237
2012-01-01 00:01:27    260
2012-01-01 00:01:28    127
2012-01-01 00:01:29    338
2012-01-01 00:01:30     71
2012-01-01 00:01:31    138
2012-01-01 00:01:32    347
2012-01-01 00:01:33    324
2012-01-01 00:01:34     77
2012-01-01 00:01:35    149
2012-01-01 00:01:36    184
2012-01-01 00:01:37     63
2012-01-01 00:01:38      0
2012-01-01 00:01:39    284
Freq: S, dtype: int32

In [146]:
ts.resample('5Min').sum()

2012-01-01    23208
Freq: 5T, dtype: int32

In [148]:
?ts.resample('5Min').sum()

In [149]:
rng

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 00:00:01',
               '2012-01-01 00:00:02', '2012-01-01 00:00:03',
               '2012-01-01 00:00:04', '2012-01-01 00:00:05',
               '2012-01-01 00:00:06', '2012-01-01 00:00:07',
               '2012-01-01 00:00:08', '2012-01-01 00:00:09',
               '2012-01-01 00:00:10', '2012-01-01 00:00:11',
               '2012-01-01 00:00:12', '2012-01-01 00:00:13',
               '2012-01-01 00:00:14', '2012-01-01 00:00:15',
               '2012-01-01 00:00:16', '2012-01-01 00:00:17',
               '2012-01-01 00:00:18', '2012-01-01 00:00:19',
               '2012-01-01 00:00:20', '2012-01-01 00:00:21',
               '2012-01-01 00:00:22', '2012-01-01 00:00:23',
               '2012-01-01 00:00:24', '2012-01-01 00:00:25',
               '2012-01-01 00:00:26', '2012-01-01 00:00:27',
               '2012-01-01 00:00:28', '2012-01-01 00:00:29',
               '2012-01-01 00:00:30', '2012-01-01 00:00:31',
               '2012-01-01 00:00:32', '2012-01-01 00:00:33',
               '2012-01-01 00:00:34', '2012-01-01 00:00:35',
               '2012-01-01 00:00:36', '2012-01-01 00:00:37',
               '2012-01-01 00:00:38', '2012-01-01 00:00:39',
               '2012-01-01 00:00:40', '2012-01-01 00:00:41',
               '2012-01-01 00:00:42', '2012-01-01 00:00:43',
               '2012-01-01 00:00:44', '2012-01-01 00:00:45',
               '2012-01-01 00:00:46', '2012-01-01 00:00:47',
               '2012-01-01 00:00:48', '2012-01-01 00:00:49',
               '2012-01-01 00:00:50', '2012-01-01 00:00:51',
               '2012-01-01 00:00:52', '2012-01-01 00:00:53',
               '2012-01-01 00:00:54', '2012-01-01 00:00:55',
               '2012-01-01 00:00:56', '2012-01-01 00:00:57',
               '2012-01-01 00:00:58', '2012-01-01 00:00:59',
               '2012-01-01 00:01:00', '2012-01-01 00:01:01',
               '2012-01-01 00:01:02', '2012-01-01 00:01:03',
               '2012-01-01 00:01:04', '2012-01-01 00:01:05',
               '2012-01-01 00:01:06', '2012-01-01 00:01:07',
               '2012-01-01 00:01:08', '2012-01-01 00:01:09',
               '2012-01-01 00:01:10', '2012-01-01 00:01:11',
               '2012-01-01 00:01:12', '2012-01-01 00:01:13',
               '2012-01-01 00:01:14', '2012-01-01 00:01:15',
               '2012-01-01 00:01:16', '2012-01-01 00:01:17',
               '2012-01-01 00:01:18', '2012-01-01 00:01:19',
               '2012-01-01 00:01:20', '2012-01-01 00:01:21',
               '2012-01-01 00:01:22', '2012-01-01 00:01:23',
               '2012-01-01 00:01:24', '2012-01-01 00:01:25',
               '2012-01-01 00:01:26', '2012-01-01 00:01:27',
               '2012-01-01 00:01:28', '2012-01-01 00:01:29',
               '2012-01-01 00:01:30', '2012-01-01 00:01:31',
               '2012-01-01 00:01:32', '2012-01-01 00:01:33',
               '2012-01-01 00:01:34', '2012-01-01 00:01:35',
               '2012-01-01 00:01:36', '2012-01-01 00:01:37',
               '2012-01-01 00:01:38', '2012-01-01 00:01:39'],
              dtype='datetime64[ns]', freq='S')

In [151]:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')
rng

DatetimeIndex(['2012-03-06', '2012-03-07', '2012-03-08', '2012-03-09',
               '2012-03-10'],
              dtype='datetime64[ns]', freq='D')

In [152]:
ts = pd.Series(np.random.randn(len(rng)), rng)
ts

2012-03-06    0.491881
2012-03-07    0.333013
2012-03-08   -0.629014
2012-03-09    1.290775
2012-03-10    0.655993
Freq: D, dtype: float64

In [153]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-06 00:00:00+00:00    0.491881
2012-03-07 00:00:00+00:00    0.333013
2012-03-08 00:00:00+00:00   -0.629014
2012-03-09 00:00:00+00:00    1.290775
2012-03-10 00:00:00+00:00    0.655993
Freq: D, dtype: float64

In [154]:
?ts_utc

In [155]:
ts_utc.tz_convert('US/Eastern')

2012-03-05 19:00:00-05:00    0.491881
2012-03-06 19:00:00-05:00    0.333013
2012-03-07 19:00:00-05:00   -0.629014
2012-03-08 19:00:00-05:00    1.290775
2012-03-09 19:00:00-05:00    0.655993
Freq: D, dtype: float64

In [156]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-01-31    0.249299
2012-02-29    1.087523
2012-03-31    0.355361
2012-04-30    0.813476
2012-05-31   -0.015414
Freq: M, dtype: float64

In [157]:
ps = ts.to_period()
ps

2012-01    0.249299
2012-02    1.087523
2012-03    0.355361
2012-04    0.813476
2012-05   -0.015414
Freq: M, dtype: float64

In [159]:
?ts.to_period()

In [160]:
ps.to_timestamp()

2012-01-01    0.249299
2012-02-01    1.087523
2012-03-01    0.355361
2012-04-01    0.813476
2012-05-01   -0.015414
Freq: MS, dtype: float64

In [161]:
?ps.to_timestamp()

In [162]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})
df

   id raw_grade
0   1         a
1   2         b
2   3         b
3   4         a
4   5         a
5   6         e

In [171]:
df["grade"] = df["raw_grade"].astype("category")
df["grade"]

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): [a, b, e]

In [173]:
df["grade"].cat.categories = ["very good", "good", "very bad"]

In [170]:
df["grade"]

0    very good
1         good
2         good
3    very good
4    very good
5     very bad
Name: grade, dtype: category
Categories (3, object): [very good, good, very bad]

In [174]:
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])
df["grade"]

0    very good
1         good
2         good
3    very good
4    very good
5     very bad
Name: grade, dtype: category
Categories (5, object): [very bad, bad, medium, good, very good]

In [175]:
df.sort_values(by="grade")

   id raw_grade      grade
5   6         e   very bad
1   2         b       good
2   3         b       good
0   1         a  very good
3   4         a  very good
4   5         a  very good

In [176]:
df.groupby("grade").size()

grade
very bad     1
bad          0
medium       0
good         2
very good    3
dtype: int64

In [177]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [183]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts = ts.cumsum()
ts.plot()
plt.show()

In [184]:
?ts.cumsum()

In [188]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
                   columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure()
df.plot()
plt.legend(loc='best')
plt.show()

In [190]:
df.to_csv('foo.csv')

In [191]:
pd.read_csv('foo.csv')

     Unnamed: 0          A          B          C          D
0    2000-01-01   0.372279   0.275755  -0.771534   0.121789
1    2000-01-02   1.008005   0.271675  -1.451408   0.321153
2    2000-01-03  -0.803690  -1.102062  -1.789496  -1.857298
3    2000-01-04  -1.760489  -1.349559  -2.385475  -1.553706
4    2000-01-05  -2.463165  -1.132432  -3.339634  -1.973140
5    2000-01-06  -2.659429  -0.311667  -3.293621  -2.962361
6    2000-01-07  -2.080133   0.553750  -4.329401  -3.095963
7    2000-01-08  -3.428529   1.341764  -4.906001  -3.253060
8    2000-01-09  -1.487049   0.364826  -5.886229  -2.759100
9    2000-01-10  -0.490798   0.587424  -3.573619  -1.759594
10   2000-01-11  -1.453473  -0.915335  -4.768232  -1.528825
11   2000-01-12  -0.243350  -0.407529  -5.806487  -1.103142
12   2000-01-13   0.216709  -0.601498  -6.622776  -1.606804
13   2000-01-14   0.484006  -1.349472  -6.223206  -0.831193
14   2000-01-15   0.883904   0.358876  -6.392440   0.099249
15   2000-01-16   0.625897   1.972922  -5.639204   0.864659
16   2000-01-17   1.061144   1.848992  -4.139782   2.033170
17   2000-01-18  -0.215752  -0.337961  -5.238461   2.527930
18   2000-01-19  -1.365545   0.543789  -7.661539   3.545621
19   2000-01-20  -1.626346   3.071743  -7.444544   3.104770
20   2000-01-21  -3.952245   2.676050  -5.744689   3.515845
21   2000-01-22  -3.291661   3.960416  -6.217008   3.773190
22   2000-01-23  -3.972370   4.362068  -4.515753   3.469995
23   2000-01-24  -4.769343   4.575813  -3.269541   5.094504
24   2000-01-25  -5.293232   4.375369  -2.844335   4.102246
25   2000-01-26  -7.892518   5.578982  -3.288873   6.255684
26   2000-01-27  -9.073073   4.636380  -3.616093   7.554706
27   2000-01-28  -8.599542   5.761305  -1.665819   8.330339
28   2000-01-29  -8.547558   6.353363  -1.659255   9.987645
29   2000-01-30  -8.266521   5.932670  -3.021587   9.225753
..          ...        ...        ...        ...        ...
970  2002-08-28 -78.402647  53.645837 -28.331848 -14.943175
971  2002-08-29 -78.358571  53.838635 -28.904661 -14.821656
972  2002-08-30 -79.199157  52.986559 -29.160008 -15.529478
973  2002-08-31 -79.123734  52.868892 -30.774898 -14.612859
974  2002-09-01 -79.517584  53.059171 -29.699648 -16.384478
975  2002-09-02 -80.804362  52.958526 -30.118665 -16.940764
976  2002-09-03 -80.287137  52.937308 -29.976469 -15.780993
977  2002-09-04 -80.728032  52.838718 -27.828741 -16.143782
978  2002-09-05 -80.609632  52.627034 -26.265754 -16.770916
979  2002-09-06 -79.444614  52.857889 -27.192655 -17.625371
980  2002-09-07 -80.399528  50.858373 -28.021145 -17.503917
981  2002-09-08 -80.975239  50.590222 -26.305946 -18.975308
982  2002-09-09 -79.961573  51.429490 -27.342697 -20.124849
983  2002-09-10 -81.077026  51.436850 -26.242929 -19.828160
984  2002-09-11 -79.836674  50.003259 -26.176154 -19.732620
985  2002-09-12 -80.181364  50.940347 -27.462204 -20.281699
986  2002-09-13 -79.804933  50.402877 -27.491399 -20.549760
987  2002-09-14 -79.498711  49.910940 -28.021061 -21.882739
988  2002-09-15 -79.806828  49.476017 -27.546006 -21.040003
989  2002-09-16 -79.502351  50.152199 -28.113783 -22.316441
990  2002-09-17 -80.361846  49.567609 -29.291891 -21.228625
991  2002-09-18 -80.569408  48.453258 -28.494211 -21.033097
992  2002-09-19 -82.428861  48.514497 -27.808926 -21.601703
993  2002-09-20 -82.045405  47.915248 -27.186511 -19.842668
994  2002-09-21 -81.738753  48.681048 -26.448175 -19.122874
995  2002-09-22 -81.053111  49.242865 -25.722535 -16.828452
996  2002-09-23 -78.737545  47.865602 -26.120032 -17.540907
997  2002-09-24 -76.946275  46.411458 -25.504988 -17.885354
998  2002-09-25 -78.159142  46.816614 -24.557009 -17.802961
999  2002-09-26 -79.197336  48.532300 -24.957773 -18.112223

[1000 rows x 5 columns]

In [192]:
df.to_excel('foo.xlsx', sheet_name='Sheet1')

In [193]:
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

                    A          B          C          D
2000-01-01   0.372279   0.275755  -0.771534   0.121789
2000-01-02   1.008005   0.271675  -1.451408   0.321153
2000-01-03  -0.803690  -1.102062  -1.789496  -1.857298
2000-01-04  -1.760489  -1.349559  -2.385475  -1.553706
2000-01-05  -2.463165  -1.132432  -3.339634  -1.973140
2000-01-06  -2.659429  -0.311667  -3.293621  -2.962361
2000-01-07  -2.080133   0.553750  -4.329401  -3.095963
2000-01-08  -3.428529   1.341764  -4.906001  -3.253060
2000-01-09  -1.487049   0.364826  -5.886229  -2.759100
2000-01-10  -0.490798   0.587424  -3.573619  -1.759594
2000-01-11  -1.453473  -0.915335  -4.768232  -1.528825
2000-01-12  -0.243350  -0.407529  -5.806487  -1.103142
2000-01-13   0.216709  -0.601498  -6.622776  -1.606804
2000-01-14   0.484006  -1.349472  -6.223206  -0.831193
2000-01-15   0.883904   0.358876  -6.392440   0.099249
2000-01-16   0.625897   1.972922  -5.639204   0.864659
2000-01-17   1.061144   1.848992  -4.139782   2.033170
2000-01-18  -0.215752  -0.337961  -5.238461   2.527930
2000-01-19  -1.365545   0.543789  -7.661539   3.545621
2000-01-20  -1.626346   3.071743  -7.444544   3.104770
2000-01-21  -3.952245   2.676050  -5.744689   3.515845
2000-01-22  -3.291661   3.960416  -6.217008   3.773190
2000-01-23  -3.972370   4.362068  -4.515753   3.469995
2000-01-24  -4.769343   4.575813  -3.269541   5.094504
2000-01-25  -5.293232   4.375369  -2.844335   4.102246
2000-01-26  -7.892518   5.578982  -3.288873   6.255684
2000-01-27  -9.073073   4.636380  -3.616093   7.554706
2000-01-28  -8.599542   5.761305  -1.665819   8.330339
2000-01-29  -8.547558   6.353363  -1.659255   9.987645
2000-01-30  -8.266521   5.932670  -3.021587   9.225753
...               ...        ...        ...        ...
2002-08-28 -78.402647  53.645837 -28.331848 -14.943175
2002-08-29 -78.358571  53.838635 -28.904661 -14.821656
2002-08-30 -79.199157  52.986559 -29.160008 -15.529478
2002-08-31 -79.123734  52.868892 -30.774898 -14.612859
2002-09-01 -79.517584  53.059171 -29.699648 -16.384478
2002-09-02 -80.804362  52.958526 -30.118665 -16.940764
2002-09-03 -80.287137  52.937308 -29.976469 -15.780993
2002-09-04 -80.728032  52.838718 -27.828741 -16.143782
2002-09-05 -80.609632  52.627034 -26.265754 -16.770916
2002-09-06 -79.444614  52.857889 -27.192655 -17.625371
2002-09-07 -80.399528  50.858373 -28.021145 -17.503917
2002-09-08 -80.975239  50.590222 -26.305946 -18.975308
2002-09-09 -79.961573  51.429490 -27.342697 -20.124849
2002-09-10 -81.077026  51.436850 -26.242929 -19.828160
2002-09-11 -79.836674  50.003259 -26.176154 -19.732620
2002-09-12 -80.181364  50.940347 -27.462204 -20.281699
2002-09-13 -79.804933  50.402877 -27.491399 -20.549760
2002-09-14 -79.498711  49.910940 -28.021061 -21.882739
2002-09-15 -79.806828  49.476017 -27.546006 -21.040003
2002-09-16 -79.502351  50.152199 -28.113783 -22.316441
2002-09-17 -80.361846  49.567609 -29.291891 -21.228625
2002-09-18 -80.569408  48.453258 -28.494211 -21.033097
2002-09-19 -82.428861  48.514497 -27.808926 -21.601703
2002-09-20 -82.045405  47.915248 -27.186511 -19.842668
2002-09-21 -81.738753  48.681048 -26.448175 -19.122874
2002-09-22 -81.053111  49.242865 -25.722535 -16.828452
2002-09-23 -78.737545  47.865602 -26.120032 -17.540907
2002-09-24 -76.946275  46.411458 -25.504988 -17.885354
2002-09-25 -78.159142  46.816614 -24.557009 -17.802961
2002-09-26 -79.197336  48.532300 -24.957773 -18.112223

[1000 rows x 4 columns]

In [194]:
if pd.Series([False, True, False]):
    print("I was true")

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().