In [1]:
list1 = [1,2,3,4,5]

In [2]:
list1

[1, 2, 3, 4, 5]

In [3]:
list2 = ['a','b','c','d']

In [4]:
list2

['a', 'b', 'c', 'd']

In [5]:
list3 = [1,2.33,'Python','a']

In [6]:
list3

[1, 2.33, 'Python', 'a']

In [7]:
list4 = [1, 2.33, 'Python', 'a',list3]

In [8]:
list4

[1, 2.33, 'Python', 'a', [1, 2.33, 'Python', 'a']]

In [9]:
list5 = []

In [10]:
list5

[]

In [11]:
type(list5)

list

In [13]:
list1 = [1,2,3,4,5]
list1[0]

1

In [14]:
list1[5]

IndexError: list index out of range

In [15]:
list1

[1, 2, 3, 4, 5]

In [16]:
list2

['a', 'b', 'c', 'd']

In [17]:
list1+list2

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd']

In [19]:
list1*3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [20]:
len(list1)

5

In [21]:
len(list1+list2)

9

In [24]:
for i in list1:
    print(i)

1
2
3
4
5

In [25]:
2 in list1

True

In [26]:
6 in list1

False

In [27]:
del list1

In [28]:
list1

NameError: name 'list1' is not defined

In [29]:
list2

['a', 'b', 'c', 'd']

In [30]:
del list2[2]

In [31]:
list2

['a', 'b', 'd']

In [32]:
max(list2)

'd'

In [33]:
list4

[1, 2.33, 'Python', 'a', [1, 2.33, 'Python', 'a']]

In [34]:
max(list4)

TypeError: '>' not supported between instances of 'str' and 'float'

In [36]:
min(list2)

'a'

In [13]:
list1 = [0,1,2,3,4,5,6,7,8]

In [46]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [47]:
list1[5:8]#步长省略则默认为1

[5, 6, 7]

In [49]:
list1[1:6:2]

[1, 3, 5]

In [50]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [51]:
list1[3:] #取索引3到最后

[3, 4, 5, 6, 7, 8]

In [52]:
list1[:5] #从头取到索引5（索引5取不到）

[0, 1, 2, 3, 4]

In [53]:
list1[::2] #取所有，步长为2

[0, 2, 4, 6, 8]

In [54]:
list1[3:-1] #从索引3取到倒数第一个（倒数第一个取不到）

[3, 4, 5, 6, 7]

In [55]:
list1[:] #取所有的

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [56]:
list1[::-1]  #逆序列表

[8, 7, 6, 5, 4, 3, 2, 1, 0]

In [57]:
list1[8:2:-2]  #逆序取，步长为2

[8, 6, 4]

In [58]:
id(list1)

81154312

In [59]:
id(list1[:])

82113992

In [61]:
list2 = list1[:]
id(list2)

82263688

In [3]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
list1[2] = 'Python'

In [5]:
list1

[0, 1, 'Python', 3, 4, 5, 6, 7, 8]

In [14]:
list1[4:6] = ['a','b','c','d']

In [15]:
list1

[0, 1, 2, 3, 'a', 'b', 'c', 'd', 6, 7, 8]

In [68]:
list1

[0, 1, 'Python', 3, 'a', 'b', 'c', 6, 7, 8]

In [69]:
list1.append('Alice')

In [75]:
list1

[0, 1, 'Python', 3, 'a', 'b', 'c', 6, 7, 8, 'Alice', '1']

In [76]:
list1

[0, 1, 'Python', 3, 'a', 'b', 'c', 6, 7, 8, 'Alice', '1']

In [77]:
list1.append(1)

In [78]:
list1

[0, 1, 'Python', 3, 'a', 'b', 'c', 6, 7, 8, 'Alice', '1', 1]

In [79]:
list1.count(1)

2

In [81]:
list1.count('1')

1

In [82]:
list2 = [0,1,2,3,4]
list2

[0, 1, 2, 3, 4]

In [83]:
list2.extend('a')

In [84]:
list2

[0, 1, 2, 3, 4, 'a']

In [88]:
list2.extend(['b',[1,2,3]])

In [89]:
list2

[0, 1, 2, 3, 4, 'a', 'b', [1, 2, 3]]

In [90]:
list3 = [1,2,1,4,1]
list3

[1, 2, 1, 4, 1]

In [92]:
list3.index(1)

0

In [97]:
list3 = [1,2,3,4,5]

In [98]:
list3.insert(2,'a')
list3

[1, 2, 'a', 3, 4, 5]

In [99]:
list3.insert(4,['b','c'])
list3

[1, 2, 'a', 3, ['b', 'c'], 4, 5]

In [100]:
list3 = [1,2,3,4,5]

In [101]:
list3

[1, 2, 3, 4, 5]

In [102]:
list3.pop()

5

In [103]:
list3

[1, 2, 3, 4]

In [104]:
list3.pop(2)

3

In [105]:
list3

[1, 2, 4]

In [106]:
list4 = [1,2,3,2,4]

In [107]:
list4

[1, 2, 3, 2, 4]

In [108]:
list4.remove(2)

In [109]:
list4

[1, 3, 2, 4]

In [110]:
list4

[1, 3, 2, 4]

In [111]:
list4.reverse()

In [112]:
list4

[4, 2, 3, 1]

In [115]:
list4[::-1]

[1, 3, 2, 4]

In [116]:
list5 = [2,1,4,5,4,6,8]
list5

[2, 1, 4, 5, 4, 6, 8]

In [117]:
list5.sort()

In [118]:
list5

[1, 2, 4, 4, 5, 6, 8]

In [120]:
list6 = ['a','cc','1','Python']
list6

['a', 'cc', '1', 'Python']

In [122]:
list6.sort()

In [123]:
list6

['1', 'Python', 'a', 'cc']

In [124]:
list6.sort(reverse = True)

In [125]:
list6

['cc', 'a', 'Python', '1']

In [127]:
list1 = [1,2,3,4,5,6]

In [128]:
list1

[1, 2, 3, 4, 5, 6]

In [130]:
del list1[0]

In [131]:
list1

[2, 3, 4, 5, 6]

In [132]:
del list1[1:3]

In [133]:
list1

[2, 5, 6]

In [134]:
del list1

In [135]:
list1

NameError: name 'list1' is not defined

In [136]:
list1 = [1**2 , 2**2 , 3**2 , 4**2 , 5**2]

In [137]:
list1

[1, 4, 9, 16, 25]

In [139]:
list1 = []
for i in range(1,11):
    list1.append(i**2)
print(list1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [140]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [148]:
[i*j for j in range(1,i) for i in range(1,10) if j<=i]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 16,
 20,
 24,
 28,
 32,
 36,
 25,
 30,
 35,
 40,
 45,
 36,
 42,
 48,
 54,
 49,
 56,
 63,
 64,
 72,
 81]

In [147]:
[m+n for m in 'ABC' for n in'abc']

['Aa', 'Ab', 'Ac', 'Ba', 'Bb', 'Bc', 'Ca', 'Cb', 'Cc']

In [149]:
[x**2 for x in range(1,11) if x%3==0]

[9, 36, 81]

In [151]:
a = 1,2,3

In [152]:
a

(1, 2, 3)

In [153]:
type(a)

tuple

In [154]:
tuple1 = ('a',1,2.33,[1,'a'],(1,3,5))

In [155]:
tuple1

('a', 1, 2.33, [1, 'a'], (1, 3, 5))

In [156]:
tuple2 = 1,

In [157]:
tuple2

(1,)

In [158]:
tuple3 = (1)

In [159]:
tuple3

1

In [160]:
type(tuple3)

int

In [161]:
tuple4 = (1,)

In [162]:
tuple4

(1,)

In [163]:
tuple5 = ()

In [164]:
tuple5

()

In [165]:
tuple6 = (1,2,3,4,5,6,7)

In [166]:
tuple6

(1, 2, 3, 4, 5, 6, 7)

In [167]:
tuple6[3] #索引

4

In [169]:
tuple6[-2] #索引

6

In [171]:
tuple6[1:3]  #切片

(2, 3)

In [172]:
tuple6[5:3:-1] #切片

(6, 5)

In [173]:
tuple7 = (1,3) 
tuple7

(1, 3)

In [175]:
tuple6 + tuple7 #连接

(1, 2, 3, 4, 5, 6, 7, 1, 3)

In [176]:
tuple7*3 #复制

(1, 3, 1, 3, 1, 3)

In [177]:
for i in tuple6: #对内部元素循环
    print(i)

1
2
3
4
5
6
7

In [178]:
2 in tuple6 #查找元组中是否有某元素

True

In [179]:
0 in tuple6

False

In [180]:
del tuple7 #删除元组

In [181]:
tuple7

NameError: name 'tuple7' is not defined

In [182]:
max(tuple6)

7

In [183]:
min(tuple6)

1

In [184]:
len(tuple6)

7

In [185]:
len(())

0

In [186]:
tuple6

(1, 2, 3, 4, 5, 6, 7)

In [187]:
tuple6[0] = 2

TypeError: 'tuple' object does not support item assignment

In [188]:
tuple1 = (1,2,3,4,5)
tuple1

(1, 2, 3, 4, 5)

In [189]:
list(tuple1)

[1, 2, 3, 4, 5]

In [190]:
list1 = [1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [191]:
tuple(list1)

(1, 2, 3, 4, 5)

In [192]:
[(m,n) for m in 'ABC' for n in'abc']

[('A', 'a'),
 ('A', 'b'),
 ('A', 'c'),
 ('B', 'a'),
 ('B', 'b'),
 ('B', 'c'),
 ('C', 'a'),
 ('C', 'b'),
 ('C', 'c')]

In [193]:
[(m,n) for m in 'abcd' for n in'abcd']

[('a', 'a'),
 ('a', 'b'),
 ('a', 'c'),
 ('a', 'd'),
 ('b', 'a'),
 ('b', 'b'),
 ('b', 'c'),
 ('b', 'd'),
 ('c', 'a'),
 ('c', 'b'),
 ('c', 'c'),
 ('c', 'd'),
 ('d', 'a'),
 ('d', 'b'),
 ('d', 'c'),
 ('d', 'd')]

In [194]:
[(m,n) for m in 'abcd' for n in'abcd' if m != n]

[('a', 'b'),
 ('a', 'c'),
 ('a', 'd'),
 ('b', 'a'),
 ('b', 'c'),
 ('b', 'd'),
 ('c', 'a'),
 ('c', 'b'),
 ('c', 'd'),
 ('d', 'a'),
 ('d', 'b'),
 ('d', 'c')]

In [196]:
list1 = []
for i in 'abcd':
    for j in 'abcd':
        if i != j:
            list1.append((i,j))

In [197]:
list1

[('a', 'b'),
 ('a', 'c'),
 ('a', 'd'),
 ('b', 'a'),
 ('b', 'c'),
 ('b', 'd'),
 ('c', 'a'),
 ('c', 'b'),
 ('c', 'd'),
 ('d', 'a'),
 ('d', 'b'),
 ('d', 'c')]

In [198]:
tuple1 = 1,2,3,4 #打包

In [199]:
tuple1

(1, 2, 3, 4)

In [200]:
a,b,c,d = tuple1 #元组解包

In [201]:
print(a,b,c,d)

1 2 3 4

In [203]:
a,b,c = tuple1

ValueError: too many values to unpack (expected 3)

In [1]:
dict1 = {'Bob':18,'Alice':17}

In [2]:
dict1

{'Alice': 17, 'Bob': 18}

In [3]:
type(dict1)

dict

In [4]:
dict2 = {'乐子':[1,'a',[2.33,'Python']],1:('Hello World!')}

In [5]:
dict2

{'乐子': [1, 'a', [2.33, 'Python']], 1: 'Hello World!'}

In [6]:
dict3 = {}

In [7]:
dict3

{}

In [8]:
type(dict3)

dict

In [9]:
dict4 = dict([('Bob',18),('Alice',17)])

In [10]:
dict4

{'Alice': 17, 'Bob': 18}

In [12]:
dict5 = dict((['Bob',18],['Alice',17]))

In [13]:
dict5

{'Alice': 17, 'Bob': 18}

In [15]:
dict6 = dict((('Bob',18),('Alice',17)))

In [16]:
dict6

{'Alice': 17, 'Bob': 18}

In [17]:
dict7 = dict([['Bob',18],['Alice',17]])

In [18]:
dict7

{'Alice': 17, 'Bob': 18}

In [20]:
dict8 = dict(Bob = 18 , Alice = 17)

In [21]:
dict8

{'Alice': 17, 'Bob': 18}

In [22]:
dict8 = dict('Bob' = 18 , 'Alice' = 17)

SyntaxError: keyword can't be an expression (<ipython-input-22-9b7a0cb98192>, line 1)

In [23]:
dict8 = dict(1 = 18 , 2 = 17)

SyntaxError: keyword can't be an expression (<ipython-input-23-b497a10e4c60>, line 1)

In [24]:
dict9 = {1:18 , 2:17}

In [25]:
dict9

{1: 18, 2: 17}

In [26]:
dict1

{'Alice': 17, 'Bob': 18}

In [27]:
dict1['Bob']

18

In [28]:
dict1['Tom']

KeyError: 'Tom'

In [29]:
dict1

{'Alice': 17, 'Bob': 18}

In [31]:
'Alice' in dict1

True

In [32]:
'Tom' in dict1

False

In [33]:
dict1

{'Alice': 17, 'Bob': 18}

In [34]:
dict1['Tom'] = 19 #添加键值对

In [35]:
dict1

{'Alice': 17, 'Bob': 18, 'Tom': 19}

In [36]:
dict1['Alice'] = 18 #更新修改键值对

In [37]:
dict1

{'Alice': 18, 'Bob': 18, 'Tom': 19}

In [38]:
del dict1['Bob'] #删除键值对

In [39]:
dict1

{'Alice': 18, 'Tom': 19}

In [41]:
dict1.keys()

dict_keys(['Alice', 'Tom'])

In [42]:
dict1

{'Alice': 18, 'Tom': 19}

In [43]:
dict1.values()

dict_values([18, 19])

In [44]:
dict1

{'Alice': 18, 'Tom': 19}

In [46]:
dict1.items()

dict_items([('Alice', 18), ('Tom', 19)])

In [47]:
dict2

{'乐子': [1, 'a', [2.33, 'Python']], 1: 'Hello World!'}

In [48]:
dict2.clear()

In [49]:
dict2

{}

In [50]:
dict1

{'Alice': 18, 'Tom': 19}

In [51]:
dict1.get('Alice')

18

In [52]:
dict1.get('Bob')

In [53]:
dict1

{'Alice': 18, 'Tom': 19}

In [54]:
dict1.pop('Alice')

18

In [55]:
dict1

{'Tom': 19}

In [56]:
dict1

{'Tom': 19}

In [58]:
dict1.setdefault('Bob')

In [59]:
dict1

{'Bob': None, 'Tom': 19}

In [60]:
dict2 = {'a':1,'b':2}

In [61]:
dict2

{'a': 1, 'b': 2}

In [62]:
dict1.update(dict2)

In [63]:
dict1

{'Bob': None, 'Tom': 19, 'a': 1, 'b': 2}

In [65]:
for key in dict1.keys():
    print(key,dict1[key])

Tom 19
Bob None
a 1
b 2

In [66]:
dict1

{'Bob': None, 'Tom': 19, 'a': 1, 'b': 2}

In [68]:
dict3 = dict1

In [69]:
dict3

{'Bob': None, 'Tom': 19, 'a': 1, 'b': 2}

In [70]:
dict1['Bob'] = 19

In [71]:
dict1

{'Bob': 19, 'Tom': 19, 'a': 1, 'b': 2}

In [72]:
dict3

{'Bob': 19, 'Tom': 19, 'a': 1, 'b': 2}

In [73]:
id(dict1)

81959024

In [74]:
id(dict3)

81959024

In [88]:
dict1

{'Bob': 21, 'Tom': 19, 'a': 1, 'b': 2}

In [90]:
import copy

In [91]:
dict1

{'Bob': 21, 'Tom': 19, 'a': 1, 'b': 2}

In [92]:
dict4 = copy.deepcopy(dict1)

In [93]:
dict4

{'Bob': 21, 'Tom': 19, 'a': 1, 'b': 2}

In [94]:
dict1['Bob'] = None

In [95]:
dict1

{'Bob': None, 'Tom': 19, 'a': 1, 'b': 2}

In [96]:
dict4

{'Bob': 21, 'Tom': 19, 'a': 1, 'b': 2}

In [97]:
dict1.clear()

In [98]:
dict1

{}

In [99]:
dict4

{'Bob': 21, 'Tom': 19, 'a': 1, 'b': 2}

In [100]:
set1 = {1,2,3,4,5}

In [101]:
set1

{1, 2, 3, 4, 5}

In [102]:
set2 = {1,2.33,'Python',(1,'b')}

In [103]:
set2

{'Python', 1, 2.33, (1, 'b')}