In [4]:
from datetime import datetime
current_time = datetime.now()#打印出现在的时间

In [5]:
current_time

datetime.datetime(2017, 6, 8, 15, 4, 14, 879358)

In [6]:
type(current_time)

datetime.datetime

In [7]:
current_time.strftime('%Y-%m-%d')#将时间转换为字符串

'2017-06-08'

In [8]:
s = '2017/04-22'
datetime.strptime(s, '%Y/%m-%d')#将字符串转化为时间

datetime.datetime(2017, 4, 22, 0, 0)

In [9]:
from datetime import timedelta
newday = current_time - timedelta(days = 10)#往前回溯10天

In [14]:
current_time - newday#时间差了10天

datetime.timedelta(10)

In [10]:
current_time + timedelta(days = 10)#十天之后

datetime.datetime(2017, 6, 18, 15, 4, 14, 879358)

In [11]:
for i in range(1,10):
    #print(i)
    dt = current_time - timedelta(days = i)#前几天资讯
    print(dt.strftime('%Y/%m/%d'))#斜杠分割

2017/06/07
2017/06/06
2017/06/05
2017/06/04
2017/06/03
2017/06/02
2017/06/01
2017/05/31
2017/05/30

In [12]:
from time import mktime
mktime(current_time.timetuple())#将datetime转换为UNIX timestamp

1496905454.0

In [15]:
datetime.fromtimestamp(1492860938) #将UNIX timestamp转换为 datetime

datetime.datetime(2017, 4, 22, 19, 35, 38)

In [17]:
import pandas
df = pandas.read_excel('house_sample.xlsx')
df.head()

,标题,建筑面积,总价,户型,朝向,物 业 费,环比上月,张贴日期,产权性质,装修,楼层
0,资深经纪上海人：稀缺3房，南北通透采光好，房东急需用钱！,123.50,760,3室2厅0厨2卫,南北,1.5元/平米・月,↑1.44%,西元2017年4月12日,商品房,豪华装修,低层
1,未来规划小上海，精装带地暖，养老，亲子，旅游度假一体化,86.00,76,2室2厅1厨1卫,南北,1.8元/・月,↑4.08%,西元2017年4月13日,商品房,精装修,中层
2,双高铁 不限贷 买一层送一层 送大露台 看房专车接送,90.00,80,3室2厅1厨2卫,南北,暂无资料,↓0.01%,西元2017年4月14日,商品房,精装修,高层
3,坐拥嘉兴海宁双轨 享受市区配套 现房值得拥有 可落户,90.00,80,2室1厅1厨1卫,南北,暂无资料,↓0.01%,西元2017年4月15日,商品房,简装修,中层
4,对口明强校区，精装两房税费少，位置安静，媲美园艺新村，随时看,66.61,285,2室1厅1厨1卫,南,0.8元/平米・月,↓2.62%,西元2017年4月16日,个人产权,中装修,低层

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 0 to 29
Data columns (total 9 columns):
标题       29 non-null object
建筑面积     29 non-null float64
总价       29 non-null int64
户型       29 non-null object
朝向       29 non-null object
物 业 费    29 non-null object
环比上月     29 non-null object
张贴日期     29 non-null object
产权性质     29 non-null object
dtypes: float64(1), int64(1), object(7)
memory usage: 2.3+ KB

In [34]:
df['张贴日期'] = pandas.to_datetime(df['张贴日期'], format = '西元%Y年%m月%d日')#按照原来格式写匹配

In [36]:
df.info()#张贴日期

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 0 to 29
Data columns (total 9 columns):
标题       29 non-null object
建筑面积     29 non-null float64
总价       29 non-null int64
户型       29 non-null object
朝向       29 non-null object
物 业 费    29 non-null object
环比上月     29 non-null object
张贴日期     29 non-null datetime64[ns]
产权性质     29 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 2.3+ KB

In [37]:
?pandas.read_csv