In [1]:
import sqlite3 as lite
con = lite.connect('test.sqlite')#连接数据库，没有则会创建一个新的
cur = con.cursor()#游标，建立一个游标，可以操作数据库数据
cur.execute('SELECT SQLITE_VERSION()')#查看版本
data = cur.fetchone()#取出数据 
print(data)
con.close()#关闭连接

('3.8.11',)

In [2]:
with lite.connect('test.sqlite') as con:#有with他会自动关闭
    cur = con.cursor()
    cur.execute('SELECT SQLITE_VERSION()')
    data = cur.fetchone()
    print(data)

('3.8.11',)

In [3]:
#数据新增和查询
import sqlite3 as lite 
with lite.connect("test.sqlite") as con: 
    cur = con.cursor() 
    cur.execute("DROP TABLE IF EXISTS PhoneAddress") #检查表格是否存在，在的话舍弃原有的
    cur.execute("CREATE TABLE PhoneAddress(phone CHAR(10) PRIMARY KEY, address TEXT, name TEXT unique, age INT NOT NULL)") 
    #创建数据表，TEXT：长字串
    cur.execute("INSERT INTO PhoneAddress VALUES('0912173381','United State','Jhon Doe',53)") #一一对应
    cur.execute("INSERT INTO PhoneAddress(phone, address, name, age) VALUES('0928375018','Tokyo Japan','MuMu Cat',6)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0957209108','Taipei','Richard',29)") 
    cur.execute('SELECT * FROM PhoneAddress')
    #cur.execute('SELECT phone,address FROM PhoneAddress')
    data = cur.fetchone()#取出一笔数据，tuple
    print(data[0], data[1])#取出电话和住址
    print('============================')
    rows = cur.fetchall()#取出多笔数据，list
    for item in rows:
        print(item[0], item[1])

0912173381 United State
============================
0928375018 Tokyo Japan
0957209108 Taipei

In [4]:
import sqlite3 as lite
import pandas
employee = [{'name':'Mary', 'age':23 , 'gender': 'F'},{'name':'John', 'age':33 , 'gender': 'M'}]
df = pandas.DataFrame(employee)
df

   age gender  name
0   23      F  Mary
1   33      M  John

In [5]:
with lite.connect('test.sqlite') as db:
    df.to_sql(name = 'employee', con = db, if_exists='replace', index = None)#如果存在就替换掉，不要索引