In [1]:
import pandas as pd
import numpy  as np
#建立一个dataframe
df = pd.DataFrame([\
                   ['frank', 'M',    np.nan], \
                   ['mary' , np.nan, np.nan], \
                   ['tom'  , 'M',    35], \
                   ['ted'  , 'M',    33], \
                   ['jean' , np.nan, 21], \
                   ['lisa' , 'F',    20]])
df.columns = ['name', 'gender', 'age']
df

    name gender   age
0  frank      M   NaN
1   mary    NaN   NaN
2    tom      M  35.0
3    ted      M  33.0
4   jean    NaN  21.0
5   lisa      F  20.0

In [2]:
#gender列不为空则显示True
df['gender'].notnull()

0     True
1    False
2     True
3     True
4    False
5     True
Name: gender, dtype: bool

In [3]:
df['age'].isnull().values.any()#整个age列是否包含有缺失值

True

In [4]:
df.isnull().values.any()#整个df中=是否有确实值

True

In [5]:
df.isnull().any()  #df每栏中是否包含缺失值  name中没缺失值

name      False
gender     True
age        True
dtype: bool

In [6]:
df['age'].isnull().sum()#age中有多少个缺失值

2

In [8]:
df.isnull().sum()#检查df中的每栏总共缺失值数量

name      0
gender    2
age       2
dtype: int64

In [9]:
df.isnull().sum().sum()#计算df所有缺失值的数量，有点像双重循环

4

In [ ]:
df.isnull()#df中有缺失值么