In [1]:
import pandas
df = pandas.read_excel('house_sample.xlsx')
df.head()

,标题,建筑面积,总价,户型,朝向,物 业 费,环比上月,张贴日期,产权性质,装修,楼层
0,资深经纪上海人：稀缺3房，南北通透采光好，房东急需用钱！,123.50,760,3室2厅0厨2卫,南北,1.5元/平米・月,↑1.44%,西元2017年4月12日,商品房,豪华装修,低层
1,未来规划小上海，精装带地暖，养老，亲子，旅游度假一体化,86.00,76,2室2厅1厨1卫,南北,1.8元/・月,↑4.08%,西元2017年4月13日,商品房,精装修,中层
2,双高铁 不限贷 买一层送一层 送大露台 看房专车接送,90.00,80,3室2厅1厨2卫,南北,暂无资料,↓0.01%,西元2017年4月14日,商品房,精装修,高层
3,坐拥嘉兴海宁双轨 享受市区配套 现房值得拥有 可落户,90.00,80,2室1厅1厨1卫,南北,暂无资料,↓0.01%,西元2017年4月15日,商品房,简装修,中层
4,对口明强校区，精装两房税费少，位置安静，媲美园艺新村，随时看,66.61,285,2室1厅1厨1卫,南,0.8元/平米・月,↓2.62%,西元2017年4月16日,个人产权,中装修,低层

In [2]:
pandas.get_dummies(df['朝向'])#建立虚拟变量，是南则在南位置显示1，以此类推

      南   南北
0   0.0  1.0
1   0.0  1.0
2   0.0  1.0
3   0.0  1.0
4   1.0  0.0
5   0.0  1.0
6   1.0  0.0
7   1.0  0.0
8   1.0  0.0
9   0.0  1.0
10  0.0  1.0
11  1.0  0.0
12  0.0  1.0
13  0.0  1.0
14  0.0  1.0
15  1.0  0.0
16  1.0  0.0
17  0.0  1.0
18  1.0  0.0
19  1.0  0.0
20  0.0  1.0
21  1.0  0.0
22  1.0  0.0
23  0.0  1.0
25  0.0  1.0
26  1.0  0.0
27  1.0  0.0
28  0.0  1.0
29  1.0  0.0

In [3]:
df = pandas.concat([df, pandas.get_dummies(df['朝向'])], axis = 1)#合并虚拟变量和原DataFrame
df.head()

,标题,建筑面积,总价,户型,朝向,物 业 费,环比上月,张贴日期,产权性质,装修,楼层,南,南北
0,资深经纪上海人：稀缺3房，南北通透采光好，房东急需用钱！,123.50,760,3室2厅0厨2卫,南北,1.5元/平米・月,↑1.44%,西元2017年4月12日,商品房,豪华装修,低层,0.0,1.0
1,未来规划小上海，精装带地暖，养老，亲子，旅游度假一体化,86.00,76,2室2厅1厨1卫,南北,1.8元/・月,↑4.08%,西元2017年4月13日,商品房,精装修,中层,0.0,1.0
2,双高铁 不限贷 买一层送一层 送大露台 看房专车接送,90.00,80,3室2厅1厨2卫,南北,暂无资料,↓0.01%,西元2017年4月14日,商品房,精装修,高层,0.0,1.0
3,坐拥嘉兴海宁双轨 享受市区配套 现房值得拥有 可落户,90.00,80,2室1厅1厨1卫,南北,暂无资料,↓0.01%,西元2017年4月15日,商品房,简装修,中层,0.0,1.0
4,对口明强校区，精装两房税费少，位置安静，媲美园艺新村，随时看,66.61,285,2室1厅1厨1卫,南,0.8元/平米・月,↓2.62%,西元2017年4月16日,个人产权,中装修,低层,1.0,0.0

In [4]:
df = df.drop('朝向', axis = 1)#按列删除朝向字段，因为已经不需要了
df.head()

,标题,建筑面积,总价,户型,物 业 费,环比上月,张贴日期,产权性质,装修,楼层,南,南北
0,资深经纪上海人：稀缺3房，南北通透采光好，房东急需用钱！,123.50,760,3室2厅0厨2卫,1.5元/平米・月,↑1.44%,西元2017年4月12日,商品房,豪华装修,低层,0.0,1.0
1,未来规划小上海，精装带地暖，养老，亲子，旅游度假一体化,86.00,76,2室2厅1厨1卫,1.8元/・月,↑4.08%,西元2017年4月13日,商品房,精装修,中层,0.0,1.0
2,双高铁 不限贷 买一层送一层 送大露台 看房专车接送,90.00,80,3室2厅1厨2卫,暂无资料,↓0.01%,西元2017年4月14日,商品房,精装修,高层,0.0,1.0
3,坐拥嘉兴海宁双轨 享受市区配套 现房值得拥有 可落户,90.00,80,2室1厅1厨1卫,暂无资料,↓0.01%,西元2017年4月15日,商品房,简装修,中层,0.0,1.0
4,对口明强校区，精装两房税费少，位置安静，媲美园艺新村，随时看,66.61,285,2室1厅1厨1卫,0.8元/平米・月,↓2.62%,西元2017年4月16日,个人产权,中装修,低层,1.0,0.0

In [3]:
?df.pivot_table#建立透视表

In [6]:
df2 = df.pivot_table(index = '张贴日期', columns='产权性质', values='总价', aggfunc=sum, fill_value='0')
df2.head()#张贴日期作为索引，产权性质作为栏位，总价作为值

产权性质         个人产权   商品房
张贴日期
西元2017年4月12日    0   760
西元2017年4月13日    0    76
西元2017年4月14日  560   740
西元2017年4月15日  650   975
西元2017年4月16日  285  1310

In [7]:
df3 = df.pivot_table(index = '产权性质', columns='张贴日期', values='总价', aggfunc=sum, fill_value=0)
df3.head()

张贴日期,西元2017年4月12日,西元2017年4月13日,西元2017年4月14日,西元2017年4月15日,西元2017年4月16日,西元2017年4月17日,西元2017年4月18日,西元2017年4月19日,西元2017年4月20日,西元2017年4月21日
产权性质,,,,,,,,,,
个人产权,0,0,560,650,285,875,1384,298,0,0
商品房,760,76,740,975,1310,575,850,769,400,270

In [8]:
df2.T#也可变成df3一样的

张贴日期,西元2017年4月12日,西元2017年4月13日,西元2017年4月14日,西元2017年4月15日,西元2017年4月16日,西元2017年4月17日,西元2017年4月18日,西元2017年4月19日,西元2017年4月20日,西元2017年4月21日
产权性质,,,,,,,,,,
个人产权,0,0,560,650,285,875,1384,298,0,0
商品房,760,76,740,975,1310,575,850,769,400,270